<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Claim History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
  </ion-list>
</ion-content>
