<ion-menu [content]="content" color="primary" persistent="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Claim</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menuBackground" fullscreen="true">
    <ion-list inset>
      <ion-item color="primary" text-center>
        <img src="assets/image/logo.png" class="logoImage"/><br/>
      </ion-item>
      <button ion-item class="ingbutton" color="primary"  *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon name="{{p.iconName}}" color="light"></ion-icon>
            &nbsp;&nbsp;
            {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
