// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
app {
  .logoImage {
    display: inline-block;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .menuBackground {
    background-color: map-get($colors, primary);
  }

  ion-content.menuBackground {
    background-color: map-get($colors, primary);
  }

  ion-item.ingbutton {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  ion-item.activated {
    background-color: map-get($colors, secondary);
  }

  ion-list ion-item {
    padding : 0;
    margin : 0;
    border : 0;
  }

}
