<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Submit a claim</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h1>Submit a Claim</h1>
  <form [formGroup]="claim" (ngSubmit)="logForm()" #registerForm="ngForm">
      <ion-item>
        <ion-label>Item Name</ion-label><br/>
        <ion-input type="text" formControlName="itemName"></ion-input>
      </ion-item>
      <!-- claim.controls.itemName is based on html hierarchy -->
      <ion-item *ngIf="!claim.get('itemName').valid">
          <p color="primary">This field is required!</p>
      </ion-item>
      <br/><br/>
      <ion-item>
        <ion-label>Description</ion-label><br/>
        <ion-textarea formControlName="description" rows="4"></ion-textarea>
      </ion-item>
      <ion-item *ngIf="!claim.get('description').valid">
        <p color="primary">This field is required!</p>
      </ion-item>
      <br/><br/>
      <ion-item>
        <ion-label>Amount</ion-label><br/>
        <ion-input type="number" formControlName="amount"></ion-input>
      </ion-item>
      <ion-item *ngIf="!claim.get('amount').valid">
          <p color="primary">This field is required!</p>
      </ion-item>
      <br/><br/>
      <div text-center>
        <ion-icon name="camera" class="largeIcon"></ion-icon>
      </div>
      <br/><br/>
      <button ion-button full color="primary" type="submit" [disabled]="false">Submit</button>

  </form>
</ion-content>
